

<div class="url-content">

  <h3>{{OcContent.youtubeQuery}} </h3>
</div>
<ul>
  <li ng-repeat="youtubeVideo in OcContent.youtubes" class="youtubeBox">

      <div class="youtubeVideo">
        <img class="youtubeVideoImg" ng-src="{{youtube.user.profile_image_url}}" alt="">
         {{youtubeVideo.video}}
       </div>


    <div class="youtubeViews">
         {{youtubeVideo.views}}
    </div>

    <div class="youtubeRating">
         {{youtubeVideo.Rating}}
    </div>

  </li>
</ul>
